# Standard: alles ignorieren
*

# Diese Dateien/Ordner tracken
!/.gitignore
!/README.md
!/LICENSE
!/hacs.json

# GitHub Actions Workflows erlauben
!/.github/
!/.github/workflows/**

# Elternordner erlauben und Integration whitelisten
!/custom_components/
!/custom_components/plantbot/**

# macOS
.DS_Store
/custom_components/plantbot/__pycache__
/custom_components/plantbot/__pycache__
/custom_components/plantbot/__pycache__
/custom_components/plantbot/__pycache__
/custom_components/plantbot/__pycache__
custom_components/plantbot/__pycache__/update.cpython-313.pyc
custom_components/plantbot/__pycache__/coordinator.cpython-313.pyc
custom_components/plantbot/__pycache__/sensor.cpython-313.pyc
custom_components/plantbot/__pycache__/update.cpython-313.pyc
custom_components/plantbot/__pycache__/sensor.cpython-313.pyc
custom_components/plantbot/__pycache__/update.cpython-313.pyc
